<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

   <context:component-scan base-package="com.loveyj.controller"/>

<!--    <mvc:view-controller path="/index" view-name="redirect:index"/>-->


<!--视图解析器-->
    <bean  id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>



    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/userInfo"/>
            <mvc:mapping path="/user/{id}"/>
            <mvc:mapping path="/shopCar"/>
            <mvc:mapping path="/shopCar/addToShopCar"/>
            <bean class="com.loveyj.utility.UserInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin"/>
            <bean class="com.loveyj.utility.AdminInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>